/**
  * global.scss
  * 全局样式
  * 注意：
  *   除html&body以外，只允许设置 [类] 选择器，例：
  *     .list-box { ... }
  *   不允许设置全局 [通配符|id|标签] 选择器，例：
  *     * { ... }
  *     #box { ... }
  *     input, buttom { ... }
  */
html, body {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
  line-height: 1;
  font-size: 16px;
  background: #f7f7f8;
}
.hide {
  display: none !important;
}
.wrap-box {
  padding: 14px 24px;
}
.card-box {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 48px);
  padding: 24px;
  margin: 24px;
  margin-top: 0;
  font-size: 18px;
  color: #9296A0;
  background: #FFFFFF;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.10);
  border-radius: 4px;
}
.line{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #dddee1;
}
.btn-radius{
  @include flex();
  @include flex-align-center();
  @include flex-valign-center();
  height: 32px;
  line-height: 30px;
  padding: 0 15px;
  border-radius: 100px;
  font-size: 16px;
  border: 1px solid #DDDEE1;
  background: #FFFFFF;
  color: #253148;
  i {
    font-size: 20px;
    margin-right: 7px;
  }
  &.blue {
    border: 1px solid #2D8CF0;
    background: #2D8CF0;
    color: white;
  }
  span {
    @include flex();
    @include flex-valign-center();
  }
}
.scroll-y {
  overflow-y: auto;
}
.scroll-x {
  overflow-x: auto;
}
/*溢出省略号*/
.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.ellipsis-mult{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* modal */
.ivu-modal-wrap {
  .ivu-modal {
    margin: auto;
    width: 1000px !important;
    -webkit-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.10);
    box-shadow: 0 2px 3px 2px rgba(0,0,0,0.10);
    border-radius: 4px;
    .ivu-modal-close {
      top: 14px;
      right: 35px;
      .ivu-icon-ios-close-empty {
        color: #80848F;
      }
    }
    .ivu-modal-header {
      padding: 17px 35px;
      border-bottom: 1px solid #DDDEE1;
      .modal-title {
        font-size: 24px;
        color: #253148;
      }
    }
    .ivu-modal-body {
      padding: 17px 35px;
    }
  }
}

/* tabs */
.ivu-tabs {
  .ivu-tabs-tab {
    font-size: 18px;
    color: #253148;
    padding: 4px;
    &.ivu-tabs-active {
      color: $active-blue;
    }
  }
  .ivu-tabs-ink-bar {
    background-color: $active-blue;
  }
}


